.post {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    align-items: center;
    gap: 50px;
}

.details-info {
    display: flex;
    align-items: start;
    background-color: lightsalmon;
    border-radius: 10px;
    width: 80%;
    margin: auto;
    flex-direction: column;
    padding: 20px;
    gap: 10px;
}

span {
    color: white;
    font-weight: 500;
}

p {
    font-weight: 800;
}

.button-post {
    color: white;
}